.dialogP {

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin-top: 1rem;
  }

  &__usersList {
    border-right: 2px solid #eee;
    margin-right: 1rem;
  }

  &__messagesList li {
    justify-content: flex-start;

    &:nth-child(even) {
      justify-content: flex-end;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__textArea {
    width: 100%;
    margin-top: 1rem;

    resize: none;
    outline: none;
    overflow: auto;
  }

  &__btn {
    padding: 0.3rem 2em;
    margin-top: 1rem;

    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: green;
  }
}
